.drop-zone {
	border: 2px dashed #ccc;
	border-radius: 10px;
	width: clamp(300px, 50%, 600px);
    height: clamp(200px, 30vw, 400px);
	margin: 20px auto;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #aaa;
	font-size: clamp(26px, 2.7vw, 40px);
}

.drop-zone.dragover {
	border-color: #000;
	background-color: #f0f0f0;
	color: #333;
}